/* =============== TAREFAS =============== */

.on-display {
    position: absolute;
    left: 17vw;
    width: 83vw;
    height: 100%;
}

.entrada {
    width: 40vw;
    margin: 3em auto;

    display: flex;
    flex-direction: column;
    gap: 20px;

    transition: .5s;
}

.entrada .entrada__cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: var(--texto-principal);
}

.entrada .entrada__cabecalho i {
    font-size: 25px;
}

.tarefasAdd {
    display: flex;
    align-items: center;
    gap: 10px;

    color: var(--texto-terciario);

    cursor: pointer;
}

.tarefasAdd i {
    color: var(--cabecalho-vermelho);
}

/* tarefas lista */

.tarefas li {
    display: grid;
    grid-template-columns: 20px auto;
    grid-template-rows: repeat(3, auto);
    gap: 5px;

    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #80808050;
}

.tarefas .check {

    width: 1.3em;
    height: 1.3em;
    background: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #bbb;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;

    grid-row: span 3;
    grid-column: span 1;
}

.tarefas .check:checked {
    background: #0080ff;
}

.tarefa__header {
    display: flex;
    justify-content: space-between;
}


.tarefas h4 {
    color: var(--texto-secundario);
    font-size: 16px;
    font-weight: 400;
}

.tarefas .delete {
    padding: 5px;
    align-self: center;
    border-radius: 3px;

    font-size: 15px;
    color: var(--cabecalho-vermelho);

    cursor: pointer;
}

.tarefas .delete:hover {
    background: #ddd;
}

.tarefas p {
    color: var(--texto-terciario);
    font-size: 14px;
    font-weight: 400;
}

.tarefa__footer {
    display: flex;
    justify-content: space-between;
}

.tarefa__footer i {
    margin-right: 5px;
}

/* Select */
.btn {
    background: transparent;
    border-radius: 5px;
    border: 1px solid var(--texto-terciario);
    padding: 5px;
    cursor: pointer;
    height: 27px;
}

.btn i {
    margin-right: 5px;
}

/*  */

.grupos-select {
    position: relative;
}

.options {
    width: 100%;
    max-height: 100px;
    border: 1px solid #bbb;
    border-radius: 3px;
    overflow-y: scroll;
    overflow-x: hidden;

    position: absolute;
    top: 100%;
    left: 30%;
    z-index: 10;

    background: #fff;
}

.option {
    width: 100%;
    border-bottom: 1px solid #bbb;
    padding: 8px;
    font-size: 14px;
    cursor: pointer;
    color: var(--texto-terciario);
}

.option:hover {
    background: #ddd;
}

.option i {
    margin-right: 5px;
}

/*  */


.entrada .sem-tarefas {
    text-align: center;
    color: var(--texto-terciario);
}

.sem-tarefas img {
    width: 50%;
    margin: 0 auto;
}









/* Outs */

.out-left {
    left: -100vw;
    transition: .5s;
}

.center-display {
    left: 0;
    transition: .5s;
    width: 100vw;
}

.invisivel {
    display: none;
}