/* =============== TAREFAS =============== */

.on-display {
    position: absolute;
    left: 17vw;
    width: 83vw;
    height: 100%;
    overflow: hidden;
}

.entrada {
    width: 40vw;
    margin: 3em auto;

    display: flex;
    flex-direction: column;
    gap: 20px;

    transition: .5s;
}


.entrada .entrada__cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: var(--texto-principal);
}

.entrada .entrada__cabecalho i {
    font-size: 25px;
    cursor: pointer;
}

/*  */
.entrada__cabecalho>span {
    position: relative;
}

.entrada__options {
    background: #fff;
    border-radius: 8px;
    border: 1px solid #ddd;

    position: absolute;
    right: 0;

    width: 200px;
}

.entrada__options li {
    border-bottom: 1px solid #ddd;
    padding: 5px;
    cursor: pointer;
}

.entrada__options li:hover {
    background: #ddd;
}

/*  */
.tarefasAdd {
    display: flex;
    align-items: center;
    gap: 10px;

    color: var(--texto-terciario);

    cursor: pointer;
}

.tarefasAdd i {
    color: var(--cabecalho-vermelho);
}

/* tarefas lista */

.tarefas .tarefa {
    display: grid;
    grid-template-columns: 20px auto auto;
    grid-template-rows: repeat(3, auto);
    gap: 5px;

    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #80808050;
}

.tarefas .check {

    width: 1.3em;
    height: 1.3em;
    background: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #bbb;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;

    grid-row: span 3;
}

.tarefas .check:checked {
    background: #0080ff;
}

.tarefas h4 {
    color: var(--texto-secundario);
    font-size: 16px;
    font-weight: 400;
}

.tarefa>span {
    /* _grid_ */
    grid-column: 3;
    grid-row: 1 / span 2;
    justify-self: end;
}

.tarefa i {
    margin-right: 5px;
}

.tarefas .delete {
    padding: 5px;
    align-self: center;
    border-radius: 3px;

    font-size: 15px;
    color: var(--cabecalho-vermelho);

    cursor: pointer;

    /* _grid_ */
    grid-column: 3;
    grid-row: 3;
    justify-self: end;
}

.tarefas .delete:hover {
    background: #ddd;
}

.tarefas p {
    color: var(--texto-terciario);
    font-size: 14px;
    font-weight: 400;
}

.tarefa p:first-child {
    /* _grid_ */
    grid-column: 2;
    grid-row: 2;
}

.tarefa p:last-child {
    /* _grid_ */
    grid-column: 2;
    grid-row: 3;
}

/* Select */
.btn {
    background: transparent;
    border-radius: 5px;
    border: 1px solid var(--texto-terciario);
    padding: 5px;
    cursor: pointer;
    height: 27px;
}

.btn i {
    margin-right: 5px;
}



.entrada .sem-tarefas {
    text-align: center;
    color: var(--texto-terciario);
}

.sem-tarefas img {
    width: 50%;
    margin: 0 auto;
}


@media screen and (max-width: 480px) {
    .on-display {
        left: 0;
        width: 100vw;
    }

    .entrada {
        width: 80vw;
    }

}