/* Form da tarefa */
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
}


.tarefa-form {
    width: 100%;
    border: 1px solid var(--border-first);
    border-radius: 10px;
    /* overflow: hidden; */
    padding: 10px;

    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: auto auto;
    justify-content: space-between;
    gap: 8px;
}

.tarefa-form input[type="text"] {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-first);
}

.tarefa-form textarea {
    width: 100%;
}

.tarefa-form input,
.tarefa-form textarea {
    grid-column: span 2;
}

.tarefa-form input::placeholder,
.tarefa-form textarea::placeholder {
    font-size: 14px;
    color: var(--text-third);
    font-weight: 500;
}

/* Data */
input[type="date"] {
    background-color: var(--checked);
    padding: 3px;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    height: 27px;
}

::-webkit-calendar-picker-indicator {
    background-color: white;
    padding: 3px;
    cursor: pointer;
    border-radius: 3px;
}

.prioridade-select {
    position: relative;
    display: flex;
}

.flags {
    position: absolute;
    padding: 3px 5px;
    display: flex;
    gap: 5px;

    top: 110%;
    left: -5%;

    border: 1px solid var(--border-first);
    border-radius: 5px;
    background: white;
    box-shadow: 0px 0px 10px -3px #000000;

    z-index: 4;
}

.flags .fa-flag:hover {
    background: var(--background-hover-cinza);
}


.buttons-form {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

button.cancelar {
    background: var(--cancelar-botao);
    padding: 6px;
    font-weight: 700;
    height: auto;
    border: 1px solid var(--border-first);
    color: var(--text-first);
}

button.cancelar:hover {
    background: var(--cancelar-hover);
}

button.confirmar {
    background: #DB4C3F;
    padding: 6px;
    font-weight: 700;
    height: auto;
    border: 1px solid var(--border-first);
    color: white;
}

button.confirmar:hover {
    background: var(--adicionar-hover);
}

#date {
    height: 27px;
}


.grupos-select {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.opcao-selecionada {
    display: flex;
    align-items: center;
}

.options {
    width: 100%;
    max-height: 100px;
    border: 1px solid var(--border-first);
    border-radius: 3px;
    overflow-y: scroll;
    overflow-x: hidden;

    position: absolute;
    top: 100%;
    left: 30%;
    z-index: 10;

    background: white;
    box-shadow: 0px 0px 10px -3px black;
}

.option {
    width: 100%;
    border-bottom: 1px solid var(--border-first);
    padding: 8px;
    font-size: 14px;
    cursor: pointer;
    color: var(--texto-terciario);

    display: flex;
    align-items: center;
}

.option:hover {
    background: var(--border-second);
}

.option i {
    margin-right: 5px;
}


@media screen and (max-width: 480px) {
    .options {
        left: 0;
    }

    .tarefa-form {
        grid-template-rows: repeat(4, auto);
    }

    .grupos-select {
        grid-column: span 2;
    }

    .prioridade-select {
        grid-column: span 2;
    }
}