/* =============== MENU =============== */

.menu {
    padding: 3% 0 0 35px;
    width: 17vw;
    height: 100%;
    background: var(--background-menu);

    position: absolute;
    left: 0;

    color: var(--text-first);

    z-index: 10;

    transition: .5s left;
}

/* Apenas pra centralizar as listas */
.menu ul li {
    display: flex;
    align-items: center;
}

.grupos {
    display: flex;
    flex-direction: column;
}

.grupos li {
    padding: 12px 0 12px 12px;
    margin-right: 12px;
    border-radius: 5px;

    font-size: 14px;
    cursor: pointer;
}

.grupos li i {
    margin-right: 10px;
    font-size: 16px;
}

.categorias__lista .fa-circle,
.fa-circle {
    margin-right: 10px;
    font-size: 8px;
}

.fa-inbox {
    color: #246fe0;
}

.fa-calendar {
    color: #058527;
}

.fa-calendar-days {
    color: #692fc2;
}

.categorias-dropdown {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 12px;

    font-size: 18px;
    color: var(--text--second);

    cursor: pointer;
}

.categorias-dropdown h4 {
    font-weight: 400;
}

.categorias__lista li {
    padding: 12px 0 12px 12px;
    margin-right: 12px;
    border-radius: 5px;
    cursor: pointer;
}

.grupo-ativo {
    background: var(--background-selected);
}

@media screen and (max-width: 480px) {
    .menu {
        width: 70vw;
        padding-left: 10px;
    }
}