:root {

    --branco-transparente: #FFFFFF33;
    --background-header: #DB4C3F;
    --background-menu: #FAFAFA;
    --background-display: #FFFFFF;
    --background-hover: #EEEEEE;
    --background-selected: #EEEEEE;


    --text-first: #1a1a1a;
    --text-second: #202020;
    --text-third: #808080;

    --border-first: #bbb;
    --border-second: #ddd;
    --border-third: #80808050;

    --adicionar-botao: #DB4C3F;
    --adicionar-hover: #ff4f3f;
    --lixeira: #DB4C3F;
    --cancelar-botao: #F5F5F5;
    --cancelar-hover: #e5e5e5;
    --checked: #00e1e1;
    --data: #0080ff;
}

* {
    font-family: 'Roboto', sans-serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style-type: none;
    border: none;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-size: 14px;
    background-color: var(--background-display);

    overflow: hidden;
}

img {
    display: block;
    width: 100%;
}

textarea {
    resize: vertical;
}


main {
    display: flex;
    position: relative;

    /* Ocupa o resto da página */
    flex-grow: 1;
}

/* Animações */

.out-left {
    left: -100vw !important;
    transition: .5s !important;
}

.center-display {
    left: 0 !important;
    transition: .5s !important;
    width: 100vw !important;
}

.invisivel {
    display: none !important;
}

.wrapper {
    width: 100vw;
    height: 100vh;

}


/* COLORS */

.black {
    color: black;
}

.ciano {
    color: #00e1e1;
}

.vermelho {
    color: rgb(255, 0, 0);
}

.verde-claro {
    color: #42e742;
}

.azul-claro {
    color: #008cff;
}