:root {

    --branco: #FFFFFF;
    --branco-transparente: #FFFFFF33;
    --cabecalho-vermelho: #DB4C3F;

    --texto-principal: #202020;
    --texto-secundario: #1a1a1a;
    --texto-terciario: #808080;
}

* {
    font-family: 'Roboto', sans-serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style-type: none;
    border: none;

    transition: .5s;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-size: 14px;
}

img {
    display: block;
    width: 100%;
}

textarea {
    resize: vertical;
}


main {
    display: flex;
    position: relative;

    /* Ocupa o resto da página */
    flex-grow: 1;
}

/* Animações */

.out-left {
    left: -100vw !important;
    transition: .5s !important;
}

.center-display {
    left: 0 !important;
    transition: .5s !important;
    width: 100vw !important;
}

.invisivel {
    display: none !important;
}